TELEGRAM_BOT_TOKEN=
ADMIN_CHAT_ID=
SETUP_KEY=change-me
DATABASE_PATH=data/wb_position_bot.db
TIMEZONE=Europe/Kyiv
REPORT_TIMES=09:00
REPORT_INTERVAL_DAYS=1
WB_DEST=-1257786
WB_CURRENCY=rub
WB_LOCALE=ru
WB_MAX_SEARCH_PAGES=20
WB_REQUEST_DELAY_SECONDS=4
WB_REQUEST_RETRIES=6
WB_429_COOLDOWN_SECONDS=15
WB_PROXY_URL=
REQUEST_TIMEOUT=25
